*{cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur641.cur), auto !important;}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    font-size: 12px;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    color: white;
}

textarea:focus, input:focus{outline: none;}

.container, .titleContainer {
    width: 35%;
    -webkit-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.75);
}

/* ####### TITLE CONTAINER ####### */

.titleContainer h1{
    margin: 10px;
    font-size: 15px;
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.titleContainer{
    height: 7%;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    background: #202020;
}

/* ####### SEARCHED CONTAINER ####### */
.container{
    border-top: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #343333;
    border-radius: 0 0 10px 10px;
    height: 41%;
}

.containerTitle{
    text-align: center;
}

.search{
    height: 110px;
    width: 75%;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 0 10px 0 ;
    text-transform: capitalize;
    border: 1px black dashed;
    line-height: 18px;
}

/* ####### SEARCHBAR #######*/

input[id="search"]{
    width: 76.5%;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    background: #343333;
    color: white;
    border: 1px solid black;
    transition: border ease-in 0.3s;
}

input[id="search"]:focus{
    border-radius: 10px;
    border: 1px #2e43ff solid;
    box-shadow: 0px 4px 5px -5px #2e43ff;
}

* input[id="search"]:focus {cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur632.cur), auto !important;}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {color: rgb(203, 203, 203);opacity: 1; /* Firefox */}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {color: rgb(203, 203, 203);}
/* Microsoft Edge */
::-ms-input-placeholder {color: rgb(203, 203, 203);}

/* ####### CHECKBOZEN #######*/

.checkboxen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 10px 0;
}

.checkboxContainer:first-child{
    padding-right: 15px;
}

.checkboxText{
    padding: 0;
    margin: 0;
}

/* The checkbox container */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 23px;
    /*cursor: pointer;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    /*cursor: pointer;*/
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15.5px;
    background-color: #eee;
    border-radius: 10px;
}

* .checkmark {cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur638.cur), auto !important;}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
    background-color: #2e43ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
    left: 5px;
    top: 2px;
    width: 2.5px;
    height: 5px;
}