<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {# CSS #}
            <link rel="stylesheet" href="/css/styles.css">
            {# Favicon #}
            <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {# JQUERY #}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

            {# AJAX CALL #}
            <script>
                $(document).ready(function() {
                    $('#search').keyup(function(){
                        // value van inputfield
                        var searchText = $('#search').val();
                        // path naar waar de ajax gestuurd moet worden
                        var requestPath = '{{ path("app_zoekmachine_show")}}';
                            $.ajax({
                                url: requestPath,
                                type: "POST",
                                data: {
                                    'searchOffice': searchText
                                },
                                dataType: "json",
                                success: function (data) {
                                    console.log(data);
                                    // json omzetten naar string
                                    var result = JSON.stringify(data, undefined, 2);
                                    // cleanen van json string
                                    var result2 = result.replace("'\\\"", "<br>").replace("'\\\"]\"", '').replace("\"[\\\"'", '').replace(",\\\"'", '').replace("'\\\",\\\"'", "<br>").replace("'\\\",\\\"'", "<br>").replace("'\\\",\\\"'", "<br>").replace("'\\\",\\\"'", "<br>").replace("'\\\",\\\"'", "<br>");
                                    // cleanen van json string
                                    var result3 = result2.split(',').join(', ');
                                    $('.search').html(result3.toLowerCase());
                                },
                                error: function (data, xhr, thrownError) {
                                    console.log(thrownError);
                                    console.log(xhr.statusText);
                                    console.log(data);
                                }
                            });
                    });
                });
            </script>
            {# EINDE AJAX CALL #}
            <script src="/js/main.js"></script>
        {% endblock %}
    </body>
</html>
